.my-btn {
	padding: 5px 10px;
	background: green;
	color: #fff;

	cursor: pointer;

	transition: background 0.3s ease-in-out;

	&:hover {
		background: rgb(23, 138, 23);
	}
	&:disabled {
		background: rgb(144, 161, 144);
	}
}
