.post {
	margin-block: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;

	border: 3px green solid;
	&__content {
	}
	&__btns {
		display: flex;
		flex-direction: column;
		gap: 10px;
		justify-content: center;
	}
}
